<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Acadêmico - IFPB</title>
</head>

<body>

    Nome:<input id="nome"><br>
    Codigo:<input id="codigo" type="number"><br>

    <button onclick="controlador.inserir()">Cadastrar</button>
    <button onclick="controlador.listarDisciplinas()">Listar disciplinas</button>

    <ol id="listaDisciplinas">

    </ol>

    <!-- <ul id="listaAlunosMenores">
    </ul> -->

    <script src="../../modelo/disciplina.js"></script>
    <script src="../../repositorio/disciplina_repositorio.js"></script>
    <script src="../../servico/disciplina_service.js"></script>
    <script src="../../controlador/disciplina_controlador.js"></script>
    <script src="script.js"></script>

</body>

</html>
